<h1><%= @item.name %></h1>


<%= image_tag @item.image_id, size: '320x240' %>

<table>
  <tr>
    <th>おもさ</th>
    <td><%= @item.weight.to_s(:delimited) %></td>
  </tr>
  <tr>
    <th>解　説</th>
    <td><%= @item.comment %></td>
  </tr>
</table>


